html{
	background: url("../picture/bg.png") repeat;
	font-family: YouYuan;
	font-size: 20px;
}
nav.header{
	text-align: right；
	position:absolute;
	margin-top: 0px;
	background-color: #ff0200;
}

nav.header a{
	font-family:Cursive,Helvetica, Arial, sans-serif;
	font-variant: small-caps;
	font-size: 20px;
	color: #000000;
	text-decoration: none;
}

li.header{
	float: right;
	margin-top:0px;
	margin-right:20px;
	border-radius:6px;
	padding: 5px;

	transition:background-color 1s;
	-moz-transition:background-color 1s; /* Firefox 4 */
	-webkit-transition:background-color 1s; /* Safari and Chrome */
	-o-transition:background-color 1s; /* Opera */
}

a.header{

	transition:color 1s;
	-moz-transition:color 1s; /* Firefox 4 */
	-webkit-transition:color 1s; /* Safari and Chrome */
	-o-transition:color 1s; /* Opera */
}

li.header:hover{
	background-color: #000000;
}

a.header:hover{
	/*font-weight: 700;*/
	color: #ffffff;
}

aside{
	font-family:Cursive,Helvetica, Arial, sans-serif;
	position: absolute;
	left: 10%;
	margin-top:5%;
	width:15%;
	height:65%;
	background-color: #ffffff;
	padding-top:10px;
	text-align: center;
	opacity: 0.7;
}

aside li{

	margin-top: 20px;
}

div#mainInf{
	position: absolute;
	/*background-color: #f1f1f1;*/
	left:30%;
	margin-top: 5%;
	width: 60%;
	height:80%;
/*	padding:2%;*/
}

iframe#mainInf{
	position: absolute;
	font-family:Cursive,Helvetica, Arial, sans-serif;
	/*background-color: #f1f1f1;*/
	left:30%;
	margin-top: 5%;
	width: 60%;
	height:80%;
/*	padding:2%;*/
}

article.hotHealth,article.hotActivity,article.hotSuggestion{
	font-family:Cursive;
	position:relative;
	/*magin:2%,1%,2%,1%;*/
	margin-bottom: 20px;
	width:98%;
	height:30%;
	background-color: #ffffff;
}

div#stateChoose li{
	float: left;
	font-family:YouYuan;
	margin-top:0px;
	margin-right:20px;
	border-radius:6px;
	padding: 5px;
	transition:background-color 1s;
	-moz-transition:background-color 1s; /* Firefox 4 */
	-webkit-transition:background-color 1s; /* Safari and Chrome */
	-o-transition:background-color 1s; /* Opera */
}

div#stateChoose a{
	transition:color 1s;
	-moz-transition:color 1s; /* Firefox 4 */
	-webkit-transition:color 1s; /* Safari and Chrome */
	-o-transition:color 1s; /* Opera */
	color: #000000;
	text-decoration: none;
}

div#stateChoose li:hover{
	background-color: #000000;
}

div#stateChoose a:hover{
	/*font-weight: 700;*/
	color: #ffffff;
}

div#stateChoose{
	float: left;
	height:10%;
}

div#state{
	float:left;
	/*position: relative;*/
	width:100%;
	height:450px;
	/*background-color: #11ffff;*/
	overflow-y:hidden;
	clear:both;
	font-size: 15px;

}

div#state iframe{
	background-color: #ffffff;
	width: 100%;
	height:100%;
	margin: 0;
	/*overflow-y:auto;*/
}

body{
	font-family:Cursive,Helvetica, Arial, sans-serif;
	/*overflow-y:hidden;*/
}

article{
	float: left;
	width:100%;
	border:inset white;
	margin: 0;
	overflow: hidden;
	padding-top: 0px;
}
article.content{
	float: left;
	width:100%;
	border:inset white;
	margin: 0;
	overflow: hidden;
}

ul.friend img{
	
	width:40px;
	height:40px;
}